h3{
    color: #297239;
    font: 'Roboto';

}
p{
    color: #caac15
}
body{
    font-family: 'Roboto';
    font-family: 'Roboto';
}
.CarouselContainer {
  border-radius: 60px;
}
.img {
    border: solid 10px;
    border-radius: 50px 40px 40px 10px;
      }
.Carousel.Item{
    border: solid 10px;
    border-radius: 50px 40px 40px 10px;
}
.Carousel.Caption{
    font-family: 'Roboto';
}


