h3{
    color: #297239;
    font: 'Century Gothic', Arial, sans-serif;

}
p{
    color: #caac15
}
body{
    font-family: Verdana;
    font-family: 'PT Sans';
}
.CarouselContainer {
  border-radius: 60px;
}
.img {
    border: solid 10px;
    border-radius: 10px 40px 40px 10px;
      }
.Carousel.Item{
    border: solid 10px;
    border-radius: 10px 40px 40px 10px;
}
.Carousel.Caption{
    font-family: Century Gothic, sans-serif;
}


